@model PayDetailsViewModel

<div class="col-md-12 grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Pay" asp-action="Index">Pay List</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Pay Detail</li>
                </ol>
            </nav><br />
            <div class="wrap d-flex justify-content-start justify-content-sm-center flex-wrap">
                <div class="wrap align-items-center ml-5">
                    <p class="font-weight-bold text-success" style="font-size20px">Id: @Model.EmployeeId</p>
                    <p class="font-weight-bold text-success">TaxCode: @Model.TaxCode</p>
                    <p class="font-weight-bold text-success">DatePay: @Model.DatePay.ToString("dd/MM/yyyy")</p>
                    <p class="font-weight-bold text-success">ContractualEarnings: @Model.ContractualEarnings</p>
                    <p class="font-weight-bold text-success">OvertimeEarnings: @Model.OvertimeEarnings</p>
                    <br /><br />
                    <p class="font-weight-bold">Fee</p>
                    <hr style="background-color:crimson"/>
                    <p class="font-weight-normal text-success">NiC: @Model.NiC</p>
                    <p class="font-weight-normal text-success">Tax: @Model.Tax</p>
                    <p class="font-weight-normal text-success">UnionFee: @Model.UnionFee</p>
                    <p class="font-weight-normal text-success">SLC: @Model.SLC</p>
                    <br /><br />
                    <p class="font-weight-bold">Total</p>
                    <hr style="background-color:crimson" />
                    <p class="font-weight-normal text-success">TotalEarnings: @Model.TotalEarnings</p>
                    <p class="font-weight-normal text-success">EarningDeduction: @Model.EarningDeduction</p>
                    <p class="font-weight-normal text-success">NetPayment: @Model.NetPayment</p>
                </div>
            </div>
        </div>
    </div>
</div>